body {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    font-size: 100%;
}

.fade {
    width: 100vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
        180deg,
        #FFFFFF 4.75%,
        rgba(217, 217, 217, 0) 86.76%);
}

h1 {
    color: #0F4C6F;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem; 
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #FFFFFF;
}

main label {
    font-size: 1.6rem;
}

input, select {
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
}

input {
    text-align: center;
}

select {
    width: 100%;
    margin-top: 2rem;
}

#convert {
    background-color: #4E99B0;
    padding: 0.6rem;
    font-size: 1.6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    border-radius: 0.6rem;
    color: #fff;
}

footer {
    width: 100%;
    text-align: center;
}

footer p {
    min-height: 7rem;
    margin-top: 1rem;
    background-color: #4E99B0;
    padding: 1rem;
    color: #fff;
    font-size: 3rem
}
